.idea/
__pycache__/
.vscode/settings.json
2.py
sample.html
teset2.py
web_report_test.py
web_report.html
script.py
db/create_formatted_db.py
db/win10_audit_db.txt
cd
python
/SecurusAudire_Reports/json_report-2020-05-03.json
/SecurusAudire_Reports/web_report-2020-05-03.html
not_included/
modules/audits/linux/local_linux_controller.py