/venv/*
/test/*

test.py
.vscode/settings.json
modules/__pycache__/lib_check_system_integrity.cpython-36.pyc
modules/__pycache__/lib_kernel_hardening.cpython-36.pyc
modules/__pycache__/lib_check_system_integrity.cpython-36.pyc
modules/check_trojan/support
modules/__pycache__/lib_check_system_integrity.cpython-36.pyc
modules/check_trojan/support
modules/check_trojan/*
modules/audit_linux_system/*
modules/check_root_kit/*
__pycache__/config.cpython-36.pyc
utils/__pycache__/lib_general_utils.cpython-36.pyc
modules/__pycache__/general_system_information.cpython-36.pyc

__pycache__/generate_web_report.cpython-36.pyc
modules/__pycache__/lib_authentication.cpython-36.pyc
