# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/



/venv/*
/test/*

test.py
.vscode/settings.json
modules/__pycache__/lib_check_system_integrity.cpython-36.pyc
modules/__pycache__/lib_kernel_hardening.cpython-36.pyc
modules/__pycache__/lib_check_system_integrity.cpython-36.pyc
modules/check_trojan/support
modules/__pycache__/lib_check_system_integrity.cpython-36.pyc
modules/check_trojan/support
modules/check_trojan/*
modules/audit_linux_system/*
modules/check_root_kit/*
__pycache__/config.cpython-36.pyc
utils/__pycache__/lib_general_utils.cpython-36.pyc
modules/__pycache__/general_system_information.cpython-36.pyc

__pycache__/generate_web_report.cpython-36.pyc
modules/__pycache__/lib_authentication.cpython-36.pyc
web_report/drop.html
web_report/index.html
web_report/root.json
web_report/test.html
web_report/drop.html
web_report/example.json
web_report/jsonview.css
web_report/jsonview.js
web_report/drop.html
web_report/lib/amd-intro-require-jquery.js
web_report/lib/amd-intro-require-local-ui.js
web_report/lib/amd-intro-require-native-ui.js
web_report/lib/amd-outro.js
web_report/lib/jquery-ui.custom.js
web_report/lib/jquery.configurator.js
web_report/lib/jquery.cookie.js
web_report/lib/jquery.js
web_report/lib/jquery.jsconsole.js
web_report/lib/jquery.planize.js
web_report/lib/jquery.popup.js
web_report/lib/jquery.simulate.js
web_report/lib/jquery.skinswitcher.js
web_report/lib/jquery.tmpl.min.js
web_report/lib/prettify.css
web_report/lib/prettify.js
web_report/lib/qunit-composite.css
web_report/lib/qunit-composite.js
web_report/lib/qunit.css
web_report/lib/qunit.js
web_report/lib/Super-Theme-Switcher/jquery.themeswitcher.js
web_report/lib/Super-Theme-Switcher/jquery.themeswitcher.min.js
web_report/lib/Super-Theme-Switcher/README.md
web_report/lib/Super-Theme-Switcher/sample.htm
web_report/lib/Super-Theme-Switcher/images/buttonbg.png
web_report/lib/Super-Theme-Switcher/images/icon_color_arrow.gif
web_report/lib/Super-Theme-Switcher/images/menuhoverbg.png
web_report/lib/Super-Theme-Switcher/images/theme_90_base.png
web_report/lib/Super-Theme-Switcher/images/theme_90_black_matte.png
web_report/lib/Super-Theme-Switcher/images/theme_90_black_tie.png
web_report/lib/Super-Theme-Switcher/images/theme_90_blitzer.png
web_report/lib/Super-Theme-Switcher/images/theme_90_cupertino.png
web_report/lib/Super-Theme-Switcher/images/theme_90_dark_hive.png
web_report/lib/Super-Theme-Switcher/images/theme_90_dot_luv.png
web_report/lib/Super-Theme-Switcher/images/theme_90_eggplant.png
web_report/lib/Super-Theme-Switcher/images/theme_90_excite_bike.png
web_report/lib/Super-Theme-Switcher/images/theme_90_flick.png
web_report/lib/Super-Theme-Switcher/images/theme_90_hot_sneaks.png
web_report/lib/Super-Theme-Switcher/images/theme_90_humanity.png
web_report/lib/Super-Theme-Switcher/images/theme_90_le_frog.png
web_report/lib/Super-Theme-Switcher/images/theme_90_mint_choco.png
web_report/lib/Super-Theme-Switcher/images/theme_90_overcast.png
web_report/lib/Super-Theme-Switcher/images/theme_90_pepper_grinder.png
web_report/lib/Super-Theme-Switcher/images/theme_90_smoothness.png
web_report/lib/Super-Theme-Switcher/images/theme_90_south_street.png
web_report/lib/Super-Theme-Switcher/images/theme_90_start_menu.png
web_report/lib/Super-Theme-Switcher/images/theme_90_sunny.png
web_report/lib/Super-Theme-Switcher/images/theme_90_swanky_purse.png
web_report/lib/Super-Theme-Switcher/images/theme_90_trontastic.png
web_report/lib/Super-Theme-Switcher/images/theme_90_ui_dark.png
web_report/lib/Super-Theme-Switcher/images/theme_90_ui_light.png
web_report/lib/Super-Theme-Switcher/images/theme_90_windoze.png
web_report/lib/contextmenu-abs/jquery.contextMenu-custom.js
web_report/lib/contextmenu-abs/jquery.contextMenu.css
web_report/lib/contextmenu-abs/images/cut.png
web_report/lib/contextmenu-abs/images/door.png
web_report/lib/contextmenu-abs/images/page_white_copy.png
web_report/lib/contextmenu-abs/images/page_white_delete.png
web_report/lib/contextmenu-abs/images/page_white_edit.png
web_report/lib/contextmenu-abs/images/page_white_paste.png
web_report/src/jquery.fancytree.ariagrid.js
web_report/src/jquery.fancytree.childcounter.js
web_report/src/jquery.fancytree.clones.js
web_report/src/jquery.fancytree.columnview.js
web_report/src/jquery.fancytree.dnd.js
web_report/src/jquery.fancytree.dnd5.js
web_report/src/jquery.fancytree.edit.js
web_report/src/jquery.fancytree.filter.js
web_report/src/jquery.fancytree.fixed.js
web_report/src/jquery.fancytree.glyph.js
web_report/src/jquery.fancytree.grid.js
web_report/src/jquery.fancytree.gridnav.js
web_report/src/jquery.fancytree.js
web_report/src/jquery.fancytree.logger.js
web_report/src/jquery.fancytree.menu.js
web_report/src/jquery.fancytree.multi.js
web_report/src/jquery.fancytree.persist.js
web_report/src/jquery.fancytree.table.js
web_report/src/jquery.fancytree.themeroller.js
web_report/src/jquery.fancytree.wide.js
web_report/src/jsdoc-globals.js
web_report/src/skin-common.less
web_report/src/jquery-ui-dependencies/AUTHORS.txt
web_report/src/jquery-ui-dependencies/jquery-ui-iife.js
web_report/src/jquery-ui-dependencies/jquery-ui.js
web_report/src/jquery-ui-dependencies/jquery-ui.min.js
web_report/src/jquery-ui-dependencies/jquery.fancytree.ui-deps.js
web_report/src/jquery-ui-dependencies/LICENSE.txt
web_report/src/jquery-ui-dependencies/package.json
web_report/src/jquery-ui-dependencies/README-Fancytree.md
web_report/src/skin-awesome/ui.fancytree.css
web_report/src/skin-awesome/ui.fancytree.less
web_report/src/skin-awesome/vline-rtl.gif
web_report/src/skin-awesome/vline.gif
web_report/src/skin-bootstrap/ui.fancytree.css
web_report/src/skin-bootstrap/ui.fancytree.less
web_report/src/skin-bootstrap/vline-rtl.gif
web_report/src/skin-bootstrap/vline.gif
web_report/src/skin-bootstrap-n/ui.fancytree.css
web_report/src/skin-bootstrap-n/ui.fancytree.less
web_report/src/skin-bootstrap-n/vline-rtl.gif
web_report/src/skin-bootstrap-n/vline.gif
web_report/src/skin-custom-1/README.md
web_report/src/skin-lion/icons-lion.psp
web_report/src/skin-lion/icons-rtl.gif
web_report/src/skin-lion/icons.gif
web_report/src/skin-lion/loading.gif
web_report/src/skin-lion/ui.fancytree.css
web_report/src/skin-lion/ui.fancytree.less
web_report/src/skin-lion/vline-rtl.gif
web_report/src/skin-lion/vline.gif
web_report/src/skin-material/ui.fancytree.css
web_report/src/skin-material/ui.fancytree.less
web_report/src/skin-material/vline-rtl.gif
web_report/src/skin-material/vline.gif
web_report/src/skin-themeroller/icons-rtl.gif
web_report/src/skin-themeroller/icons.gif
web_report/src/skin-themeroller/loading.gif
web_report/src/skin-themeroller/ui.fancytree.css
web_report/src/skin-themeroller/ui.fancytree.less
web_report/src/skin-themeroller/vline-rtl.gif
web_report/src/skin-themeroller/vline.gif
web_report/src/skin-vista/icons-rtl.gif
web_report/src/skin-vista/icons.gif
web_report/src/skin-vista/loading.gif
web_report/src/skin-vista/ui.fancytree.css
web_report/src/skin-vista/ui.fancytree.less
web_report/src/skin-vista/vista_colors.txt
web_report/src/skin-vista/vline-rtl.gif
web_report/src/skin-vista/vline.gif
web_report/src/skin-win7/icons-rtl.gif
web_report/src/skin-win7/icons.gif
web_report/src/skin-win7/loading.gif
web_report/src/skin-win7/ui.fancytree.css
web_report/src/skin-win7/ui.fancytree.less
web_report/src/skin-win7/vline-rtl.gif
web_report/src/skin-win7/vline.gif
web_report/src/skin-win8/icons-rtl.gif
web_report/src/skin-win8/icons.gif
web_report/src/skin-win8/loading.gif
web_report/src/skin-win8/ui.fancytree.css
web_report/src/skin-win8/ui.fancytree.less
web_report/src/skin-win8/vline-rtl.gif
web_report/src/skin-win8/vline.gif
web_report/src/skin-win8-n/icons-rtl.gif
web_report/src/skin-win8-n/icons.gif
web_report/src/skin-win8-n/loading.gif
web_report/src/skin-win8-n/ui.fancytree.css
web_report/src/skin-win8-n/ui.fancytree.less
web_report/src/skin-win8-n/vline-rtl.gif
web_report/src/skin-win8-n/vline.gif
web_report/src/skin-win8-xxl/icons-rtl.gif
web_report/src/skin-win8-xxl/icons.gif
web_report/src/skin-win8-xxl/loading.gif
web_report/src/skin-win8-xxl/ui.fancytree.css
web_report/src/skin-win8-xxl/ui.fancytree.less
web_report/src/skin-win8-xxl/vline-rtl.gif
web_report/src/skin-win8-xxl/vline.gif
web_report/src/skin-xp/icons-rtl.gif
web_report/src/skin-xp/icons.gif
web_report/src/skin-xp/loading.gif
web_report/src/skin-xp/ui.fancytree.css
web_report/src/skin-xp/ui.fancytree.less
web_report/src/skin-xp/vline-rtl.gif
web_report/src/skin-xp/vline.gif
modules/__pycache__/*
sample.html
__pycache__/audit_controller.cpython-36.pyc
old/linux_script.py
old/recur_test.py
old/script.py
__pycache__/audit_controller.cpython-36.pyc
modules/audits/__pycache__/__init__.cpython-36.pyc
modules/audits/__pycache__/base_model.cpython-36.pyc
modules/audits/common/general_system_information/__pycache__/__init__.cpython-36.pyc
modules/audits/common/general_system_information/__pycache__/lib_general_system_information.cpython-36.pyc
modules/audits/linux/check_authentication/__pycache__/__init__.cpython-36.pyc
modules/audits/linux/check_authentication/__pycache__/lib_authentication.cpython-36.pyc
modules/audits/linux/check_root_kit/__pycache__/__init__.cpython-36.pyc
modules/audits/linux/check_root_kit/__pycache__/lib_check_root_kit.cpython-36.pyc
modules/audits/linux/check_system_integrity/__pycache__/__init__.cpython-36.pyc
modules/audits/linux/check_system_integrity/__pycache__/lib_check_system_integrity.cpython-36.pyc
modules/audits/linux/kernel_hardening/__pycache__/__init__.cpython-36.pyc
modules/audits/linux/kernel_hardening/__pycache__/lib_kernel_hardening.cpython-36.pyc
modules/audits/linux/test_home_dir/__pycache__/__init__.cpython-36.pyc
modules/audits/linux/test_home_dir/__pycache__/lib_test_home_dir.cpython-36.pyc
modules/report_generation/__pycache__/report_generation_controller.cpython-36.pyc
modules/report_generation/__pycache__/report_generator_base.cpython-36.pyc
modules/report_generation/json_report/__pycache__/generate_json_report.cpython-36.pyc
modules/report_generation/web_report/__pycache__/generate_web_report.cpython-36.pyc
modules/utils/__pycache__/lib_general_utils.cpython-36.pyc
modules/utils/__pycache__/lib_general_utils.cpython-36.pyc
modules/utils/__pycache__/lib_general_utils.cpython-36.pyc
test.py
web_report/index5.html
web_report/style5.css
web_report/drop.html
web_report.html
web_report_test.py
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/SecurusAudire.iml
.idea/vcs.xml
2.py
teset2.py
db/create_formatted_db.py
script.py
modules/audit_controller copy.py
